<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearnReactiveCocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C806BB31EC0195D00F3CA93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C806BCC1EC0195D00F3CA93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C806BD71EC0195D00F3CA93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
